<html>

	<head>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/reset_css.css"> -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	</head>

	<body>
		
		<section>
			
				<form action="/" method="POST">
					<input type="text" name="title" placeholder="title">
					<input type="text" name="url" placeholder="url">
					<input type="text" name="tags" placeholder="enter tags">
					<button> add </button>
				</form>

				<table>
					<th colspan="2">
						Bookmark Manager
					</th>	
					<tr>
						<td>Link</td>
						<td>Tags</td>
					</tr>	
					<% @links.each do |link| %>
							<tr>
							<td>
								<a href="<%= link.url %>"><%= link.title %></a>
							</td>
							<td>
								<% link.tags.each do |tag| %>
								<%=  tag.tag_name %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>

		</section>

	</body>


</html>