<html>

	<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
	</head>

	<body>
		<header>
			Bookmark Manager
		</header>	
		
		<form action="/" method="POST">
			<input type="text" name="title" placeholder="title">
			<input type="text" name="url" placeholder="url">
			<input type="text" name="tags" placeholder="enter tags (sep) by comma">
			<button> add </button>
		</form>

		<section>
			<% @links.each do |link| %>
			<ul><a href="<%= link.url %>"><%= link.title %></a>
			<% end %>
		</section>

	</body>


</html>