<html>

	<head>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/reset_css.css"> -->
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"> -->
	</head>

	<body>

			<h3>Bookmark Manager</h3>

					<% if flash[:errors] && !flash[:errors].empty? %>
					 Sorry, there were the following problems with the form.
					  <ul id="errors">
					    <% flash[:errors].each do |error| %>
				      <li><%= error %></li>
					    <% end %>
					  </ul>
					<% end %>

			<h3>
					<% if current_user %>
				    Welcome, <%= current_user.email %>
				  <% end %>
				  
			</h3>

			<%= yield %>

	</body>
					
</html>