
section {
	border-style: solid;
	position: absolute;
	left: 20%;
	right: 20%;
	top: 10%;
	padding: 5px;
			}

div {
	display: inline-block;
	position: center; 
	left: 10%;
	right: 10%;
	text-align: center;

}

table {
	/*background-color: black;*/
	margin: 0 auto;
	border-style: solid;
	text-align: center;
*/}

td {
	width: 300px;
}

/*.link_row {
	border-style: solid;
	position: floating;
	left: 10%;
	right: 10%;
	text-align: center;	
}*/

/*tr{
	border-style: solid;	
}*/


/*.tag {
	padding: 5px;
	text-align: center;
	width: 400px;
}

.add_link{
	border-style: solid;
	margin-left: 25%;
	margin-right: 25%;
}*/