
section {
	border-style: solid;
	position: absolute;
	left: 15%;
	right: 15%;
	top: 10%;
	padding: 5px;
			}

form {
	position: floating;
	left: 10%;
	right: 10%;
	text-align: center;
}

.link_row {
	border-style: solid;
	/*position: floating;
	left: 10%;
	right: 10%;
	text-align: center;	*/
}

tr{
	border-style: solid;	
}


/*.tag {
	padding: 5px;
	text-align: center;
	width: 400px;
}

.add_link{
	border-style: solid;
	margin-left: 25%;
	margin-right: 25%;
}*/